<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pomodoro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pomodoro">
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewAgenda"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ClockSound"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlarmSound"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Pomodoro.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest>